{% extends "base.html" %}
{% load static %}
{% block body %}
<div class="hero-wrap js-fullheight" style="background-image: url({% static 'images/bg_2.jpg' %});">
	<div class="overlay"></div>
	<div class="container">
		<div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center"
			data-scrollax-parent="true">
			<div class="col-md-9 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
				<h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Profile</h1>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="container">
		<div class="col-md-6 mx-auto mt-5 mb-5">
			<div class="profile_sumary">
				<div class="summery_header">
					<h3>Profile Summery</h3>
				</div>
				<div class="profile_content">
					<ul>
						{% comment %} <li>Name: <span>{{profile}}</span></li> {% endcomment %}
						<li>User Name: <span>{{user.username}}</span></li>
						{% comment %} <li>Your Name: <span>{{profile.name}}</span></li> {% endcomment %}
						{% comment %} <li>First name: <span>{{profile.first_name}}</span></li> {% endcomment %}
						{% comment %} <li>Last name: <span>{{profile.last_name}}</span></li> {% endcomment %}
						<li>Email: <span>{{profile.email}}</span></li>
						<li>Image: <span>{{profile.image}}</span></li>
						<li>Phone: <span>{{profile.phone_number}}</span></li>
						<li>Addres: <span>{{profile.address}}</span></li>
					</ul>
				</div>
				<div class="p-3">
					{% comment %} <a class="boxed-btn3 w-100" href="{% url 'profile_edit' %}">Edit Profile</a>
					{% endcomment %}
					<a class="btn btn-primary w-100" href="{% url 'profile_edit' %}">Edit Profile</a>
					{% comment %} <h5><a href="{% url 'profile_edit' %}">Save</a></h5> {% endcomment %}
				</div>
			</div>
		</div>
	</div>
</div>



{% endblock %}